- board = local_assigns.fetch(:board, nil)
- group = local_assigns.fetch(:group, false)
-# TODO: Move group_id and can_admin_list to the board store
  See: https://gitlab.com/gitlab-org/gitlab/-/issues/213082
- can_admin_list = can?(current_user, :admin_list, current_board_parent) == true
- @no_breadcrumb_container = true
- @no_container = true
- @content_class = "issue-boards-content js-focus-mode-board"
- breadcrumb_title _("Issue Boards")
- page_title("#{board.name}", _("Boards"))

- content_for :page_specific_javascripts do

  -# haml-lint:disable InlineJavaScript
  %script#js-board-modal-filter{ type: "text/x-template" }= render "shared/issuable/search_bar", type: :boards_modal, show_sorting_dropdown: false
  %script#js-board-promotion{ type: "text/x-template" }= render_if_exists "shared/promotions/promote_issue_board"

#board-app.boards-app.position-relative{ "v-cloak" => "true", data: board_data, ":class" => "{ 'is-compact': detailIssueVisible }" }
  = render 'shared/issuable/search_bar', type: :boards, board: board

  - if Feature.enabled?(:boards_with_swimlanes, current_board_parent) || Feature.enabled?(:graphql_board_lists, current_board_parent)
    %board-content{ "v-cloak" => "true",
      "ref" => "board_content",
      ":lists" => "state.lists",
      ":can-admin-list" => can_admin_list,
      ":disabled" => "disabled" }
  - else
    .boards-list.w-100.py-3.px-2.text-nowrap{ data: { qa_selector: "boards_list" } }
      .boards-app-loading.w-100.text-center{ "v-if" => "loading" }
        = loading_icon(css_class: 'gl-mb-3')
      %board{ "v-cloak" => "true",
        "v-for" => "list in state.lists",
        "ref" => "board",
        ":can-admin-list" => can_admin_list,
        ":list" => "list",
        ":disabled" => "disabled",
        ":key" => "list.id" }
  = render "shared/boards/components/sidebar", group: group
  = render_if_exists 'shared/boards/components/board_settings_sidebar'
  - if @project
    %board-add-issues-modal{ "new-issue-path" => new_project_issue_path(@project),
      "milestone-path" => milestones_filter_dropdown_path,
      "label-path" => labels_filter_path_with_defaults,
      "empty-state-svg" => image_path('illustrations/issues.svg'),
      ":project-id" => @project.id }
